body{
	background-color: deeppink;
}

h1{

font-size: 30px;
color:  teal;

}

H2 {
color: darkred;
font size : 20px
}

.big{
font-size: 60px;
}

.uppercase{
text-transform: uppercase;
}

.big.uppercase {
color: navy;
}

